<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DevOps Web App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
    <h1>Welcome to My DevOps Flask App by Manisha!</h1>
    <p>This app is deployed using a CI/CD pipeline. Super clean, right?</p>
<a href="https://github.com/theMcodes03/flask-devops-app.git" target="_blank" rel="noopener">View on GitHub</a>
  </div>
</body>
</html>
